hmtl, body {
	width: 100%;
	height: 100%;
	font-size: 16px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	background-color: #444;
	overflow-x: hidden;
}

/*header*/
#header {
	position: fixed;
	width: 100%;
	height: 40px;
	background-color: #333;
	color: #FFF;
	left: 0;
	top: 0;
	z-index: 20;
}

/*nav*/
#sitenav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
#sitenav li {
	margin: 0 10px;
	padding: 0;
	display: inline-block;
}
#sitenav a {
	display: inline-block;
	padding: 0 10px;
	line-height: 40px;
	background-color: #222;
	color: #fff;
	text-decoration: none;
}
#sitenav li.active a {
	background-color: #ff7f66;
}

/*pages*/
#page-1 {
	background-color: #ff5b5b;
}
#page-2 {
	background-color: #2185c5;
}
#page-3 {
	background-color: #70e8cb;
}

#pages .intro {
	margin: 50px 20px 30px;
	font: 45px/1.5 arial, helvetica, sans-serif;
	color: #eee;
	font-weight: bold;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
}

